body {
  background-image: url("img/bg/panda-bg.png");
  background-repeat: repeat;
  height: 3000px;
}

h1 {
  color: white;
  margin-left: 20px;
}

.bg-body-tertiary {
  color: white;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
}

navbar-brand {
  color: white;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;    
  align-items: center;
}

header h2 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end; 
}

header p {
  padding: 0 20px;
  margin: 0;
}