body {
  background-image: url("img/bg/panda-bg.png");
  background-repeat: repeat;
  height: 3000px;
}

h1 {
  color: white;
  margin-left: 20px;
}

.hero-section {
	background-color: #000;
	color: #fff;
	padding: 8rem 0;
	text-align: center;
}

.content-section {
	padding: 4rem 0;
}

.card {
	box-shadow: 0 4px 8px rgba(0,0,0,.1);
	border: none;
}

.card-header-purple {
	background-color: #800080;
	color: #fff;
	font-weight: bold;
}

.card-header-blue {
	background-color: #1409ad;
	color: #fff;
	font-weight: bold;
}

.card-header-green {
	background-color: #02ba52;
	color: #fff;
	font-weight: bold;
}

.test-section {
	min-height: 40vh;
}

.sticky-header-offset {
	top: 56px; 
	z-index: 1020;
}